@charset "ISO-8859-1";

.bannierrejeux {
	background-color: orange;
	color : black;
	font-weight: bold;
	}

#titreguigui {
	text-align: center;
	}

#fond1 {
	background-color: lime;
}

#save {
	text-align: center;
	}
	
#textgui {
	text-align: center;
	text-transform: uppercase;
	text-decoration:overline;
	text-overflow: clip;
	text-shadow: blue;
	font-style: oblique;
	font-weight: bold;
	color: black;
	}

table{
margin:auto;
}

.text{
	font-size: 40px;
}