@charset "ISO-8859-1";

body {
	background-color: green; /* AntiqueWhite */
}

*{
    font-family: 'Kreon', serif;
}



															/* Header / Nav */
header{
    width: 100%;
    height: 50px;
    opacity: 80%;
    color: red;
    padding-bottom: 70.5px;
}

header h1{
    float: left;
}

header nav {
    float: right;
    background-color: maroon;;
    color: white;
    padding: 20px;
}

.navbar-inverse {
    background-color: maroon;
}

.navbar-inverse .navbar-nav > li > a {
    color: red;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    background-color: maroon;
}

.logo {
    width: 100px;
    background-color: dimgrey;
    position: absolute;
    left: 5px;
}



.log_in {
	float: right;
	width: 50px;
}








										    /* Images de fond du site  */

.img-fond {
	background-image: url (<img src="<c:url value="/resources/images/images_fond/image_fond.png" />    ">) ;            /* A REVOIR  */ 
	margin-top: 50px;
	margin-bottom: 60px;
	width: 100%;
}








											/* Video de présentation */
											
.video h2 {
	text-decoration: underline white double;
	padding-bottom: 50px;
	color: white;
}

.video {
	text-align: center;
	width: 100%;
	height: 400px;
	margin-top: 100px;
	margin-bottom: 100PX;
}

.video h3 {
	color: white;
}










											/* CAROUSEL */
.carousel {
	height: 400px;
	margin-top: 200px;
	padding: 20px;
}

.carousel img {
	width: 660px;
	height:388;
}








											/* Commentaires */

.sec_comme h2 {
	text-decoration: underline black double;
	padding-bottom: 50px;
}
											
.commentaires {
	height: 100px;
	border-radius: 50px;
	border: double blue 3px;
	width: 20S0px;
	padding: 10px;
	margin-left: 25%;
	margin-right: 25%;
	background-color: gold;
}

.sec_comme {
	margin-top: 400px;
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: AntiqueWhite;
}








											/* Promotion du moment */


.promo h2 {
	text-decoration: underline white double;
	padding-bottom: 50px;
}
											
.promo {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: AAntiqueWhite;
	padding: 20px;
	color: white;
}

.promo button {
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}









												/* Mise à jour de l'application  */
.mise_a_jour h2 {
	text-decoration: underline black double;
	padding-bottom: 50px;
}

.mise_a_jour {
	margin-top: 100px;
	background-color: AntiqueWhite;
	padding-top: 60px;
	padding-bottom: 80px;
}

.mise_a_jour button{
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}








												/* Article de journal */
										
.journal {
	background-color: green;
	color: white;
	padding-top: 60px;
	padding-bottom: 80px; 
}

.journal h3{
	padding-top: 50%;
}

.journal h2 {
	text-decoration: underline white double;
	padding-bottom: 50px;
}






												/* Gestion des Ressources */
.produits h2 {
	text-decoration: underline black double;
	padding-bottom: 50px;
}

.produits {
	background-color: AntiqueWhite;
	padding-top: 60px;
	padding-bottom: 80px; 
}


.img_produits {
	height: 100px;
	border-radius: 50px;
	border: double blue 3px;
}

.produits img {
	margin-right: 50px;
}

.produits h3 {
	text-decoration: underline;
	text-transform: capitalize;
	padd-bottom: 60px;
}

.partie {
	margin-bottom: 30px;
}







												/* Communauté */
.communaute {
	background-color: green;
	margin-top: 100px;
	padding: 20px;  
	margin-bottom: 60px;
	color: white;
}

.communaute button{
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
	margin-bottom: 60px;
}

.reseaux_sociaux {
	background-color: Fuchsia;
}

.reseaux {
	width: 35px;
	margin-right: 10px;
}








												/* Présentation */
.notre-histoire {
	margin-top: 700px;
	font-style: italic;
}

.Open_Space {
	width: 1400px;
	position: absolute;
	top: 0px;
}



.notre-histoire h2 {
	text-decoration: underline white double;
	padding-bottom: 50px;
}








												/* Aujourdh'ui */
.aujourdhui {
	font-style: italic;
	margin-top: 90px;
	margin-bottom: 60px;
	background-color: AntiqueWhite;
	padding-bottom: 50px;
}

.aujourdhui h2{
	margin-bottom: 30px;
}



.chrifre_clées {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: double black 3px;
	text-align: center;
	background-color: Coral;
	padding: 20px;
	margin-left: 25%;
}








													/* Footer */
footer {
	background-color: maroon;
	color : white;
	padding-top: 15px;
	margin-bottom: 80px;
	margin-top: 50px;
}

.float-left h3{
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bold;
}

.float-left {
    float: left;
    padding-left: 50px;
}

.float-right {
    float: right;
    right: 50px;
    padding-left: 10px;
}

footer img {
	margin-left: 15px;
}