@charset "ISO-8859-1";

.bannierrejeux {
	background-color: orange;
	color : black;
	font-weight: bold;
	}

#titreguigui {
	text-align: center;
	}

#fond1{
	background-color: lime;
}

#fond2{
	background-image: url("C:\Users\Formation.M2I-JAV5-04\Documents\projet\Ferme\documents\videos\gui.mp4");
}