@charset "ISO-8859-1";

body {
	background-color: green; /* AntiqueWhite */
}

*{
    font-family: 'Kreon', serif;
}


															/* Header / Nav */
header{
    width: 100%;
    height: 50px;
    opacity: 80%;
    color: red;
    padding-bottom: 70.5px;
}

header h1{
    float: left;
}

header nav {
    float: right;
    background-color: maroon;;
    color: white;
    padding: 20px;
}

.navbar-inverse {
    background-color: maroon;
}

.navbar-inverse .navbar-nav > li > a {
    color: red;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    background-color: maroon;
}

.logo {
    width: 83px;
    background-color: dimgrey;
    position: absolute;
    left: 5px;
}



.log_in {
	float: right;
	width: 50px;
}








										    /* Images de fond du site  */
.commentaires {
	margin-top: 40px;
	width: 150px;
	font-style: italic;
	text-align: center;
	font-weight: bolder;
	padding: 20px;
	position: absolute;
	top: 330px;
	left: 30px;
	border-radius: 200px;
	border: 5px double black;
	margin: 15px;
	color: black;
}

.img-fond {
	background-image: url (<img src="<c:url value="/resources/images/images_fond/image_fond.png" />    ">) ;            /* A REVOIR  */ 
	margin-top: 50px;
	margin-bottom: 60px;
	width: 100%;
}








											/* Video de présentation */

.video {
	text-align: center;
	width: 100%;
	height: 400px;
	margin-top: 100px;
	margin-bottom: 100PX;
}

.video h3 {
	color: white;
}










											/* CAROUSEL */
.carousel {
	height: 400px;
	margin-top: 200px;
	padding: 20px;
}

.carousel img {
	width: 660px;
	height:388;
}








											/* Promotion du moment */
											
.promo {
	margin-top: 200px;
	background-color: AAntiqueWhite;
	padding: 20px;
	color: white;
}

.promo button {
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}

.promo h3 {
	font-style: italic;
	font-weight: bold;
}








												/* Mise à jour de l'application  */
.mise_a_jour {
	margin-top: 100px;
	background-color: AntiqueWhite;
	padding-top: 20px;
	padding-bottom: 100px;
}

.mise_a_jour button{
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
}








												/* Article de journal */
										
.journal {
	background-color: green;
	color: white;
	padding-top: 100px;
	padding: 20px;  
}

.journal h2{
	padding-top: 50%;
}

.journal h3 {
	text-decoration: underline;
	text-transform: capitalize;
	margin-bottom: 60px;
}






												/* Gestion des Ressources */
.produits {
	background-color: AntiqueWhite;
	margin-top: 100px;
	padding: 20px;  
}


.img_produits {
	height: 100px;
	border-radius: 50px;
	border: double blue 3px;
}

.produits img {
	margin-right: 50px;
}

.produits h3 {
	text-decoration: underline;
	text-transform: capitalize;
	padd-bottom: 60px;
}

.partie {
	margin-bottom: 30px;
}







												/* Communauté */
.communaute {
	background-color: green;
	margin-top: 100px;
	padding: 20px;  
	margin-bottom: 60px;
	color: white;
}

.communaute button{
	background-color: red;
	border-radius: 10px;
	font-weight: bold;
	color: white;
	margin-bottom: 60px;
}

.reseaux_sociaux {
	background-color: Fuchsia;
}

.reseaux {
	width: 35px;
	margin-right: 10px;
}








								/* Présentation */
.notre-histoire {
	margin-top: 90px;
	font-style: italic;
}







								/* Aujourdh'ui */
.aujourdhui {
	font-style: italic;
	margin-top: 90px;
	margin-bottom: 60px;
	background-color: Silver
}

.aujourdhui h2{
	margin-bottom: 30px;
}

.Open_Space {
	margin-top: 50px;
	width: 1183px;
}

.chrifre_clées {
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: double black 3px;
	text-align: center;
	background-color: Coral;
	padding: 20px;
}





									/* Footer */
footer {
	background-color: maroon;
	color : white;
	padding-top: 15px;
	margin-bottom: 80px;
	margin-top: 50px;
}

.float-left h3{
    font-weight: bold;
    text-transform: capitalize;
    font-weight: bold;
}

.float-left {
    float: left;
    padding-left: 50px;
}

.float-right {
    float: right;
    right: 50px;
    padding-left: 10px;
}

footer img {
	margin-left: 15px;
}